<li>
  <p>
    <strong><%= comment.user.nickname %></strong> wrote:
    
  </p>

  <p>
    <strong><%= comment.body %></strong>
    
  </p>
 <% if user_signed_in? && comment.in?(current_user.comments) %>
  	
	  <p>
	    <%= link_to 'Delete', [comment.photo, comment], method: :delete %>
	  </p>
	
  <% end %>
</li>