<h2>I follow </h2>
<ul>
	<% if @followships.present? %>
		<% for followship in @followships %>
			<li>
				<%= followship.follower.nickname %>
				<%= link_to "Remove", followship, method: :delete %>
			</li>
		<% end %>
	<% else %>
		You are not following anyone yet...
	<% end %>

</ul>

<h2> I'm followed </h2>
<ul>
	<% if @back_followships.present? %>
		<% for back_followship in @back_followships %>
			<li>
				<%= back_followship.user.nickname %>
			</li>
		<% end %>
	<% else %>
		You haven't been followed yet...
	<% end %>
</ul>