<h1>All pictures by <%= @user.nickname %></h1>

<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Photo</th>
			<th>Description</th>
		</tr>

		<% @user.photos.each do |photo| %>
			<tr>
				
				<% if photo.title.nil? %>
					<td>No title</td>
				<% else %> 
					<td><%= photo.title %></td>
				<% end %>
				<td><%= image_tag photo.image.url(:small) %></td>
				<% if photo.description.nil? %>
					<td>---</td>
				<% else %>
					<td><%= photo.description %></td>
				<% end %>	
			
			</tr>	
		<% end %>
	</table>
